* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 90vh; /* Ogranicavam visinu kontejnera */
}

h1 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2.5rem;
}

/* Stilizacija za input polje */
.form-control {
    border-color: #ccc;
    box-shadow: ghostwhite;
}

.form-control:focus {
    border-color: #aaa;
    box-shadow: none;
}
input[type="text"] {
    border: none;
    border-radius: 20px;
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    font-family: 'Montserrat', sans-serif;
}
input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #24292e;
    box-shadow: none;
}
input::placeholder {
    font-family: 'Montserrat', sans-serif;
}

/* Filter i sort button i dropDown */
.filter-buttons .btn {
    font-family: 'Montserrat', sans-serif;
}

.sort-buttons .form-select {
    font-family: 'Montserrat', sans-serif;
}
.btn-dark, .btn-secondary, .btn-success, .btn-warning {
    font-family: 'Montserrat', sans-serif;
}

.dropdown-menu .dropdown-item {
    font-family: 'Montserrat', sans-serif;
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-menu {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #2b4e70;
}

.filter-btn, .sort-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.filter-btn:hover, .sort-btn:hover {
    background-color: #343a40;
}

/* Dugme za brisanje i oznacavanje zadatka kao zavrsenog */
.checkButtons {
    margin: 5px;
    font-size: 0.7rem; 
    padding: 0.2rem 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    flex: 1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #6c757d;
    color: #fff;
}
.checkButtons:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.checkButtons:hover {
    transform: scale(1.05);
}
.complete-btn:hover {
    background-color: #003873;
}
.delete-btn:hover {
    background-color: #80001a;
}
.checkButtons i {
    color: #fff;
}

/* Stilovi za kartice i grid sistem za prikaz zadataka */
.task-card {
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.task-card .card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.task-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.task-card .card-text {
    font-size: 1rem;
}
.task-card .card-body .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Stilovi deaktiviranje - aktiviranje zadataka */
.task-card.completed {
    background-color: #e0e0e0;
    color: #9e9e9e;
    border-color: #bdbdbd;
    box-shadow: none;
    opacity: 0.6; 
}
.task-card.completed:hover {
   transform: none;
   box-shadow: 1px 2px 3px 0 rgba(1, 0, 0, 0.1);
   opacity: 0.8;

}
.task-card.completed .checkButtons {
    pointer-events: auto;
}
.task-card.completed .checkButtons:hover {
    background-color: #a0a0a0;
    border-color: #8e8e8e;
}
.complete-btn.completed:hover {
    background-color: greenyellow !important;
}

/* Stilovi za prioritete */
.priority-high {
    border: 1px solid darkred;
    /*border-radius: 8px;
    box-shadow: 0 4px 6px rgba(139, 0, 0, 0.2);
    background: linear-gradient(to right, rgba(139, 0, 0, 0.2), transparent);
    transition: transform 0.2s, box-shadow 0.2s;*/   
}
.priority-medium {
    border: 1px solid darkorange;
    /*border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 140, 0, 0.2); 
    background: linear-gradient(to right, rgba(255, 140, 0, 0.2), transparent);
    transition: transform 0.2s, box-shadow 0.2s;*/
    
}
.priority-low {
    border: 1px solid darkgreen;
    /*border-radius: 8px;
    box-shadow: 0 4px 6px rgba(34, 139, 34, 0.2);
    background: linear-gradient(to right, rgba(34, 139, 34, 0.2), transparent);
    transition: transform 0.2s, box-shadow 0.2s;*/
    
}
.no-priority {
    border: 1px solid #cccccc;
    /*border-radius: 8px;
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.2);
    background: linear-gradient(to right, rgba(192, 192, 192, 0.2), transparent);
    transition: transform 0.2s, box-shadow 0.2s;*/
    
}
/* Hover efekat za sve prioritete */

/*.priority-high:hover,
.priority-medium:hover,
.priority-low:hover,
.no-priority:hover {
    transform: scale(1.02); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}*/

/* Ogranicavanje visine naslova */
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Blagi hover efekat za kartice */
.task-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.scrollable-content {
    overflow-y: auto;
    overflow-x: hidden; 
    flex-grow: 1; 
    scrollbar-width: none; /* Sakriva skrol bar u Firefoxu */
    -ms-overflow-style: none;  /* Sakriva skrol bar u IE i Edge */
}
.scrollable-content::-webkit-scrollbar {
    display: none; /* Sakriva skrol bar u Chrome, Safari i Opera */
}

/* Modalni prozor */
.modal-content {
    border-radius: 10px;
  }

 /* Stilizacija dugmadi za prioritete */
.modal .btn-check:checked + .btn-outline-secondary,
.modal .btn-check:checked + .btn-outline-success,
.modal .btn-check:checked + .btn-outline-warning,
.modal .btn-check:checked + .btn-outline-danger {
    background-color: #f0f0f0;
    border-color: #ccc;
}

.modal .btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.modal .btn-group .btn {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: rgb(80, 80, 80);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.modal .btn-outline-secondary, .btn-outline-danger{
    border-radius: 20px;
}

.modal .btn-group .btn:hover {
    transform: scale(1.05);
}

/* Promena boje teksta pri prelasku i fokusu */
.modal .btn-group .btn-outline-secondary:hover,
.modal .btn-group .btn-outline-secondary:focus {
    color: #007bff;
    border-color: #ccc;
}
.modal .btn-group .btn-outline-success:hover,
.modal .btn-group .btn-outline-success:focus {
    color: #28a745;
    border-color: #ccc;
}
.modal .btn-group .btn-outline-warning:hover,
.modal .btn-group .btn-outline-warning:focus {
    color: #ffc107;
    border-color: #ccc;
}
.modal .btn-group .btn-outline-danger:hover,
.modal .btn-group .btn-outline-danger:focus {
    color: #dc3545;
    border-color: #ccc;
}

.modal .btn-check:checked + .btn-outline-secondary {
    color: #007bff;
}
.modal .btn-check:checked + .btn-outline-success {
    color: #28a745;
}
.modal .btn-check:checked + .btn-outline-warning {
    color: #ffc107;
}
.modal .btn-check:checked + .btn-outline-danger {
    color: #dc3545;
}

/* Stilizacija labele za prioritet */
#prior {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Dugmici na modalu */
.modal-footer {
    display: flex;
    justify-content: space-between;
}
.modal-footer .btn {
    flex: 1;
    margin: 0 10px;
}
.modal-footer .btn-secondary {
    margin-left: 0;
}
.modal-footer .btn-primary {
    margin-right: 0;
}
/* Input za ime zadatka na modalu */
#taskModalLabel {
    border: none;
    font-size: 2rem;
    margin-left: -15px;
    cursor: text;
}

/* Search bar i prikaz poruke o pretrazi */
#no-results-message {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 1.1rem;
    color: #555;
    margin-top: 20px;
}

/* Higlight slova koja se podudaraju sa pretragom */
.highlight {
    color: #004a98;
    font-weight: bold; 
    padding: 1px 1px;
}

/* Shake za modal */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

.toast-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1100;
    padding: 1rem;
}

.custom-toast {
    background-color: #343a40;
    color: #ffc107;
    animation: slideInUp 0.5s ease-in-out;
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}