* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align:left;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2.5rem;
}

.completed {
    text-decoration: line-through;
    background: #d4edda;
}

/* Stilizacija za input polje */
.form-control {
    border-color: #ccc;
    box-shadow: ghostwhite;
}

.form-control:focus {
    border-color: #aaa;
    box-shadow: none;
}
input[type="text"] {
    border: none;
    border-radius: 20px;
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    font-family: 'Montserrat', sans-serif;
}
input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #24292e;
    box-shadow: none;
}
input::placeholder {
    font-family: 'Montserrat', sans-serif;
}


/* Filter i sort button i dropDown*/
.filter-buttons .btn {
    font-family: 'Montserrat', sans-serif;
}

.sort-buttons .form-select {
    font-family: 'Montserrat', sans-serif;
}
.btn-dark, .btn-secondary, .btn-success, .btn-warning {
    font-family: 'Montserrat', sans-serif;
}

.dropdown-menu .dropdown-item {
    font-family: 'Montserrat', sans-serif;
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-menu {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #2b4e70;
}

.filter-btn, .sort-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.filter-btn:hover, .sort-btn:hover {
    background-color: #343a40;
}
